.banner-container {
  display: block;
  margin-top: 80px;
  margin-bottom: 50px;

  /* padding: 0 !important;
  background-image: url(/components/assets/banner-placeholder.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 2000px;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-bottom: 0;
  aspect-ratio: 21 / 9; */
}

.event-banner .banner-desk {
  display: block;
  width: 100%;
  height: auto;
}

.event-banner .banner-mobile {
  display: none;
  width: 100%;
  height: auto;
}

.notice-container {
  border: black solid 1.5px;
  border-radius: 2rem;
  padding: 0 2rem;
  margin: 0 10rem;
  display: flex;
  align-items: center;
}

ol,
ul {
  padding-left: 0rem !important;
}

.notice-box {
  display: flex;
  align-items: center;
}

.notice-box h4 {
  color: var(--primary-color);
  font-weight: bold;
}

.notice-box p {
  font-size: 7rem;
  font-weight: lighter;
  color: black;
  margin-top: 0.1rem;
}

.notice-link {
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 1.2rem;
}

.notice-link li {
  display: flex;
}

.notice-link a {
  margin-left: 1.5rem !important;
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

.notice-link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.notice-link a:hover::after {
  width: 100%;
}

.notice-link i {
  font-size: 2rem;
}

.notice-link p,
.notice-link a {
  margin: 0;
  align-content: center;
}

.demo-content {
  max-width: 1920px;
  margin: 4rem auto;
  padding: 0 2rem;
}

.demo-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: var(--primary-color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.demo-content p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #666;
}

@media (max-width: 1430px) {
  .event-banner .banner-desk {
    max-width: 1500px;
  }

  .notice-container {
    display: block;
    margin: 0 1rem;
    padding: 0 1rem;
  }

  .notice-box {
    justify-content: center;
    margin-top: 2rem;
  }

  .notice-box h4 {
    align-items: center;
    font-size: 1.3rem;
    margin: 0;
  }

  .notice-link p, .notice-link a {
    font-size: 1rem;
  }

  .notice-box p {
    display: none;
  }
}

@media (max-width: 768px) {
  .event-banner .banner-desk {
    display: none;
  }

  .event-banner .banner-mobile {
    display: block;
    max-width: 1000px;
  }

  .notice-box {
    margin-top: 2.2rem;
    margin-bottom: 0;
  }
  .notice-box h4 {
    font-size: 1.2rem;
  }

  .notice-link p {
    display: none;
  }

  .notice-link a {
    font-size: 1rem;
    margin-left: 0.2rem !important;
    margin-bottom: 0.5rem;
  }

  .notice-link i {
    margin: none;
  }
}

@media (max-width: 480px) {
}
